<nb-card>
    <nb-card-body class="example-items-col">
      <input type="text" class="input-field" nbInput fullWidth fieldSize="small" placeholder="Name">
      <textarea nbInput class="input-field" fullWidth placeholder="Description"></textarea>
      <input type="text" class="input-field" nbInput fullWidth fieldSize="small" placeholder="Price">
      <input type="text" class="input-field" nbInput fullWidth fieldSize="small" placeholder="Category">
      <input type="file" class="input-field" nbInput fullWidth fieldSize="small" placeholder="Image">
        <button nbButton status="success"> Submit</button>
        <button nbButton > Cancel</button>
    </nb-card-body>
  </nb-card>
